span {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

a:active {
    color: rgb(22 163 74/var(--tw-text-opacity, 1));
    background-color: green;
    background-color: #f0fdf4;
}

a.active {
    color: rgb(22 163 74/var(--tw-text-opacity, 1)) !important;
    background-color: green;
    background-color: #f0fdf4;
}

a:hover {
    color: rgb(22 163 74/var(--tw-text-opacity, 1));
    background-color: #f0fdf4;
}

.logoutMenu :hover {
    color: #000000;
    background-color: #fef2f2;
}


.statusactive {
    color: rgb(22 163 74/var(--tw-text-opacity, 1));
    background-color: green;
    background-color: #f0fdf4;
}

.statusoperational {
    color: rgb(22 163 74/var(--tw-text-opacity, 1));
    background-color: green;
    background-color: #f0fdf4;
}

.statusconfigured {
    color: rgb(22 163 74/var(--tw-text-opacity, 1));
    background-color: green;
    background-color: #f0fdf4;
}


.statuspending {
    color: #eab308;
    background-color: #fef9c3
}

.nav {
    background-color: rgb(243, 244, 246);
    width: 300px;
}

.nav-link {
    background-color: rgb(243, 244, 246) !important;
    color: #000000;
}

.nav-link.active {
    background-color: white !important;
    color: #000000 !important;
}

.nav-link:hover {
    background-color: white !important;
    color: #000000 !important;
}

th {
   color : gray !important;
}