span {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

a :active {
    color: rgb(22 163 74/var(--tw-text-opacity, 1));
    background-color: green;
    background-color: #f0fdf4;
}

a :hover {
    color: rgb(22 163 74/var(--tw-text-opacity, 1));
    background-color: #f0fdf4;
}

.logoutMenu :hover {
    color: #000000;
    background-color: #fef2f2;
}

a {
    color: #6c757d !important;
}